/*
    box model:
    -solo funciona adecuadamente en elementos display block
    -div la tiene por defecto
    -comportamiento por defecto:
        -ocupa todo el ancho de pantalla
        -altura depende del contenido
    - funciona si:
        -los elementos tienen contenido
        -o tienen un tamaño definido
    
    margin: 
        -determina el espacio entre los elementos
        -aplica a elementos display block
        -computado de margenes
        -colapso de margenes 
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    border-top-color: cadetblue;
    border-top-style: groove;
    border-top-width: 10px;
    border-right-color: chocolate;
    border-right-style: double;
    border-right-width: 2px;
    border-bottom-color: rgb(180, 115, 30);
    border-bottom-style: dotted;
    border-bottom-width: 3px;
    border-left-color: blue;
    border-left-style: groove;
    border-left-width: 7px;
}
.box1{
    margin: 20px 40px ;
    background: steelblue;
    display: block;
    padding: 50px  45px 3px;
    height: 200px;
    width: 300px;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom-left-radius: 50px ;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 20px;
}
.box2{
    background: salmon;
    padding: auto;
    display: block;
    height: 200px;
    width: 200px;
    opacity: 0.5;
    margin-top: 100PX;
    border-radius: 50%;
    text-align: center;
    justify-content: center;

}